name: Map file schema validator

on:
  push:
    branches: [ master, staging, stable ]
  merge_group:
  pull_request_target:
    types: [ opened, reopened, synchronize, ready_for_review ]
  workflow_dispatch:

jobs:
  yaml-schema-validation:
    name: YAML map schema validator
    if: github.actor != 'PJBot' && github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      checks: write
      pull-requests: write
    
    steps:
      # 1. Клонируем код (разные параметры для PR и push)
      - name: Checkout PR code
        if: github.event_name == 'pull_request_target'
        uses: actions/checkout@v4.2.2
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: false
          
      - name: Checkout current code
        if: github.event_name != 'pull_request_target'
        uses: actions/checkout@v4.2.2
        with:
          token: ${{ secrets.PRIVATE_SUBMODULE_TOKEN || secrets.GITHUB_TOKEN }}
          submodules: false
          
      # 2. Настраиваем приватные подмодули
      - name: Setup private submodules
        env:
          PAT: ${{ secrets.PRIVATE_SUBMODULE_TOKEN }}
        run: |
          [ -n "$PAT" ] && git config --global url."https://x-access-token:$PAT@github.com".insteadOf "https://github.com"
          git submodule update --init --recursive
          
      # 3. Проверяем схему
      - name: Verify schema
        run: |
          [ -f "RobustToolbox/Schemas/mapfile.yml" ] || { echo "Схема не найдена"; exit 1; }
          
      # 4. Для PR проверяем измененные файлы, для push проверяем все
      - name: Validate map files for PR
        if: github.event_name == 'pull_request_target'
        uses: PaulRitter/yaml-schema-validator@v1
        with:
          schema: RobustToolbox/Schemas/mapfile.yml
          path_pattern: .*Resources/Maps/.*
          validators_path: RobustToolbox/Schemas/mapfile_validators.py
          validators_requirements: RobustToolbox/Schemas/mapfile_requirements.txt
          
      - name: Validate map files for push
        if: github.event_name != 'pull_request_target'
        uses: PaulRitter/yaml-schema-validator@v1
        with:
          schema: RobustToolbox/Schemas/mapfile.yml
          path_pattern: .*Resources/Maps/.*
          validators_path: RobustToolbox/Schemas/mapfile_validators.py
          validators_requirements: RobustToolbox/Schemas/mapfile_requirements.txt
